@model Midterm_EquipmentRental_Team1_UI.Models.LoginViewModel

<form asp-action="Login" method="post">
    <input asp-for="Username" />
    <input asp-for="Password" type="password" />
    <button type="submit">Login</button>
    <br/>
    <span style="color:red">@Model.ErrorMessage</span>
</form>
